<launch>

  <include file="$(find smart_pharmacy)/launch/robot_race_init.launch"/>
  
  <rosparam file="$(find smart_pharmacy)/config/compitation_para.yaml" command="load"/>
  
  <node pkg="smart_pharmacy" type="detect_abc_for_EPRobot.py" name="detect_abc" cwd="node" output="screen">
  </node>
  
  <node pkg="smart_pharmacy" type="smart_pharmacy.py" name="smart_pharmacy" output="screen">
  </node>

</launch>


