<launch>

	<node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0.08 0 0 0 0 0 base_footprint base_link 100" />
 	<node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0.08 0 0 0 0 0 base_footprint gyro_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.14 0 0.11 3.14159 0 0 base_footprint base_laser_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.14 0 0.11 0 0 0 base_footprint camera_link 100" />
	
	<param name = "robot_description" textfile = "$(find eprobot_description)/urdf/eprobot.urdf"/>
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="eprobot_joint_publisher" pkg="eprobot_description" type="rviz_move.py"  output="screen"/>
	
	
	<node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera" output="screen">
      <param name="device"            value="/dev/video0" /> 
      <param name="camera_info_url"   value=""/>
      <param name="camera_name"       value="rgb_Astra_Orbbec"/>
      <param name="width"             value="640" />
      <param name="height"            value="480" />
      <param name="fps"               value="30" />
      <param name="frame_id"          value="camera_rgb_frame" />
        
      <remap from="camera_info"      to="/camera/rgb/camera_info"/>
      <remap from="image_raw"        to="/camera/rgb/image_raw"/>
    </node>
	
	
	
	<!--arg name="lidar_frame" default="base_laser_link"/>  
	<arg name="lidar_mode" default="Boost"-->	
	
	<arg name="lidar_frame" value="base_laser_link"/>  
	<arg name="lidar_mode" value="Boost"/>

	
	<node pkg="eprobot_start" type="art_racecar.py" name="base_control" output="screen">
		<!--param name="base_kp"    type="double" value="8.47"/>
		<param name="base_ki"    type="double" value="39.1"/>
		<param name="base_kd"    type="double" value="0.18"/--> 
		
		<param name="base_kp"    type="double" value="0.5"/>
		<param name="base_ki"    type="double" value="17.0"/>
		<param name="base_kd"    type="double" value="5.0"/> 
		
		<param name="base_kv"    type="double" value="1.0"/>
		
		<param name="Laser_Mode"    type="string" value="$(arg lidar_mode)"/>
		
		
	</node>
	
    <!--include file="$(find robot_navigation)/launch/lidar/$(arg lidar_type).launch"-->
	<!-- <include file="$(find robot_navigation)/launch/lidar/rplidar.launch"> -->
        <!-- <arg name="lidar_frame"            value="$(arg lidar_frame)"/> -->
		<!-- <arg name="lidar_mode"            value="$(arg lidar_mode)"/> -->
    <!-- </include> -->
	
	<!-- rplidar A1 -->
	<!--node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/EPRobot_laser"/>
		<param name="serial_baudrate"     type="int"    value="115200"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
	</node-->

</launch>


