<launch>

  <node pkg="eprobot_start" type="follower_line.py" name="line_follower" output="screen">
  	<param name="forward_velocity"     type="double" value="0.2"/>
  	<param name="scale_diversion"      type="double" value="0.4"/>
	<param name="img_offset"           type="int" value="60"/>
  </node>

</launch>


